## Soporte de clase en Jupyter Notebook

Estoy en la clase numero 1 de Data Analytics y voy a tomar apuntes

In [1]:
print("Hola Mundo!")

Hola Mundo!

In [1]:
# Palabras reservadas: 
def main():
    print("Hola Mundo!!!")


if __name__ == '__main__':
    main()

Hola Mundo!!!

In [2]:
entero = 5
flotante = 3.4
cadena_texto = "Hola Mundo!!!"
booleano = False

In [3]:
type(entero)

int

In [4]:
type(flotante)

float

In [5]:
type(cadena_texto)

str

In [6]:
type(booleano)

bool

In [7]:
bool(5==5)

True

In [1]:
bool(0)

False

In [3]:
bool(100)

True

In [5]:
bool(5==5)

True

In [9]:
print(cadena_texto)

Hola Mundo!!!

In [10]:
numero1= 3
numero2 = 4

In [11]:
print(numero1 + numero2)

7

Esto es una introducción a Python!!!

In [6]:
numero3 = 7
print(numero3)

7

In [7]:
type(numero3)

int

In [8]:
print(float(numero3))

7.0

In [9]:
print(type(float(numero3)))

<class 'float'>

In [14]:
int(cadena_texto)

ValueError: invalid literal for int() with base 10: 'Hola Mundo!!!'

In [12]:
cadena_texto = "h10"
type(cadena_texto)

str

In [13]:
print(int(cadena_texto))

ValueError: invalid literal for int() with base 10: 'h10'

In [71]:
print(int(10.5))

10

In [72]:
print(str(10.5))

10.5

In [73]:
type(str(10.5))

str

In [17]:
bool(1)

True

In [19]:
bool(0)

False

## Operaciones Aritmeticas

In [3]:
numero1 = 3
numero1

3

In [4]:
numero2 = 4
numero2

4

In [5]:
suma = numero1 + numero2
print(suma)

7

In [6]:
resta = numero2 - numero1
print(resta)

1

In [7]:
multiplicacion = numero1 * numero2
print(multiplicacion)

12

In [8]:
división = numero2 / numero1
print(división)

1.3333333333333333

In [23]:
division_entera = numero2 // numero1
print(division_entera)

1

In [12]:
9//3

3

In [13]:
resto = 5 % 3 
print(resto)

2

In [17]:
100001 % 2

1

## Operaciones Relacionales

In [18]:
numero1

3

In [19]:
numero2

4

In [20]:
# Igualdad
numero1 == numero2

False

In [21]:
# Distinto
numero1 != numero2

True

In [30]:
# Mayor
numero1 > numero2

False

In [31]:
# Menor
numero1 < numero2

True

In [34]:
# Mayor o igual
7 >= 7

True

In [35]:
# Mayor o igual
8 >= 7

True

In [36]:
# Mayor o igual
6 >= 7

False

In [37]:
# Menor o igual
3 <= 4

True

In [38]:
# Menor o igual
3 <= 3

True

In [39]:
# Menor o igual
3 <= 2

False

## Asignacion

In [22]:
numero4 = 10

In [23]:
# Reasignación incrementada
numero4 = numero4 + 2
numero4

12

In [24]:
# Reasignación incrementada
numero4 += 2
numero4

14

In [25]:
# Reasignacion disminuida
numero4 = numero4 - 2
numero4

12

In [26]:
# Reasignacion disminuida
numero4 -= 2
numero4

10

#### Puedo usar la reasignación con cualquier operador aritmetico. +, -, *, /, //, %, **

In [27]:
4 ** 2

16

In [28]:
# Plus: Raiz Cuadrada
dieciseis = 16
raiz = dieciseis ** (1/2) # Elevar a 0,5 es lo mismo que calcular la raiz cuadrada. 
raiz

4.0

In [51]:
# Corroboramos
9 ** 0.5

3.0

## Operaciones con strings

In [35]:
# Concatenación
## En la Lecture hay un error. ¿Alguien lo descubrio? 
palabra = "Hola, "
palabra2 = "Mundo!!!"
print(palabra + palabra2)

Hola, Mundo!!!

In [29]:
palabra1 = "Perro"
palabra2 = "Gato"

In [30]:
palabra1 > palabra2

True

In [36]:
# Multiplicación de Strings
saludo = "Pedro "
print(saludo * 3)

Pedro Pedro Pedro

## Operaciones Lógicas

In [37]:
booleano = True

In [38]:
not booleano

False

In [39]:
not not booleano

True

### And - Y

In [43]:
# And -- Y
print(True and True)

True

In [44]:
print(True and False)

False

In [45]:
print(False and False)

False

#### Or - O

In [46]:
# Or - O
print(True or True)

True

In [47]:
print(True or False)

True

In [48]:
print(False or True)

True

In [49]:
print(False or False)

False

#### Xor - O exclusivo

In [50]:
# Xor -- O exclusivo
print(True ^ True) # En Or es True

False

In [63]:
print(False ^ True)

True

In [64]:
print(True ^ False)

True

In [65]:
print(False ^ False)

False

## Condicionales y Flujos de control (If, elif y else)

In [41]:
edad = 36
edad2 = 12
edad3 = 70

In [42]:
if edad >= 65:
    print("Ya contás con la edad para jubilarte!!!")
elif edad >= 18:
    print("Ya contás con la edad para trabajar!")
else:
    print("Aún estás en edad escolar!!!")

Ya contás con la edad para trabajar!

In [43]:
if edad2 >= 65:
    print("Ya contás con la edad para jubilarte!!!")
elif edad2 >= 18:
    print("Ya contás con la edad para trabajar!")
else:
    print("Aún estás en edad escolar!!!")

Aún estás en edad escolar!!!

In [44]:
if edad3 >= 65:
    print("Ya contás con la edad para jubilarte!!!")
elif edad3 >= 18:
    print("Ya contás con la edad para trabajar!")
else:
    print("Aún estás en edad escolar!!!")

Ya contás con la edad para jubilarte!!!

In [46]:
# Validamos si estamos frente a una edad lógica
edad = 150
if edad < 0 or edad > 120:
    print("La edad ingresada no es lógica")
else:
    print("La edad ingresada ES lógica!!!")

La edad ingresada no es lógica